/*Part 1 Universal Margin, Padding and Body Size */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Navigation Bar position sticky */
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 218, 245);
  position: sticky;
  top: 0;
}

.logo{
  height ="64px";
  width= "64px"; 
  align-items="center";
}

.logo img{
  height: auto;
  width: 80px;
  left: 1px;
  top: 3px;
  position: absolute;
}
/*Navbar Unlist (ul) */
.navbar ul{
  display: flex;
  list-style: none;
  margin: 10px 0;
}

/*Navbar Unlist List*/
/* add padding to create the navbar list display better */
.navbar ul li{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: whitesmoke;
  padding: 8px 25px;
  transition: all.5s ease;
}

/* Add nab bar color change on click*/
.navbar ul li:hover{
  background-color: whitesmoke;
  color: aqua;
  box-shadow: 0 0 10px;
}

/*Sections (bg color light shadow under navigation bar / whole background image) */
#home{
  display: flex;
  flex-direction: column;
  background-color: rgba(12, 130, 167, 0.5);
  height: 840px;
  justify-content: center;
  align-items: center;
}

/*z-index is used to display the elements towards z axis */
#home::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background:url("women2.png") no-repeat center center/cover;
  height: 900px;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}

/*To change name postion Anoushka Sundaram h1 */
.main{
  display: flex;
  flex-direction: column;
  /*border: 1px solid whitesmoke */
  align-items: center;
  position: absolute;
  top:30%;
  right: 10%;
}

.heading {
  font-family: ;
  font-size: 3px;
  text-align: center;
  margin: 40px 0px;
}
